#hero {
    background: url('images/hero-bg.jpg') no-repeat center center/cover;
  }
  
  .card-title {
    color: #2c662d;
  }
  
  footer {
    background-color: #145a32;
  }

.bg-light-green {
  background-color: #e9f7e9;
  color: #333;
}

.bg-alt-green {
  background-color: #d4edda;
  color: #333;
}

.section-padding {
  padding: 50px 0;
}

.card {
  height: 100%;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.card-body button {
  margin-top: auto; /* Dorong tombol ke bagian bawah */
}
