#hero {
    background: url('images/hero-bg.jpg') no-repeat center center/cover;
  }
  
  .card-title {
    color: #2c662d;
  }
  
  footer {
    background-color: #145a32;
  }

  /* Warna latar belakang hijau muda */
.bg-light-green {
  background-color: #e9f7e9; /* Hijau muda */
  color: #333; /* Warna teks gelap untuk kontras */
}

/* Alternatif warna hijau muda lainnya */
.bg-alt-green {
  background-color: #d4edda;
  color: #333;
}

/* Tambahan padding untuk area */
.section-padding {
  padding: 50px 0;
}

.card {
  height: 100%; /* Pastikan semua card memiliki tinggi sama */
}

.card-body {
  display: flex;
  flex-direction: column;
}

.card-body button {
  margin-top: auto; /* Dorong tombol ke bagian bawah */
}
